<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registro</title>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/normalize.css" />
    </head>

    <body class="flexallcenter">
        <div class="auth-container">
            <h1 class="auth-title">¡Regístrate!</h1>
            <hr class="auth-divider" />
            <form class="auth-form" action="../../assets/php/register.php" method="POST">
                <input class="auth-input" type="email" placeholder="Correo electrónico" id="email" name="email"
                    required />
                <!-- <input class="auth-input" type="text" placeholder="Nombre de usuario" id="usuario" name="usuario"
                    required /> -->
                <input class="auth-input" type="password" placeholder="Contraseña" id="contrasena" name="contrasena"
                    required />
                <input class="auth-input" type="password" placeholder="Repetir contraseña" id="contrasena2"
                    name="contrasena2" required />
                <input class="auth-button" type="submit"></input>
            </form>
            <div class="auth-link">
                <a href="index.html">Ya tengo cuenta.</a>
            </div>
            <div>
                <a href="../../index.html" class="btn btn--secondary">Volver.</a>
            </div>
        </div>
    </body>

</html>