:root {
  /* Fuentes */
  --fuente-heading: Arial, sans-serif;
  --fuente-parrafos: Arial, sans-serif;

  /* Colores */
  --color-secundario: #0e1621;
  --color-texto: #ffffff;
  --color-primario: #007bff;
  --color-primario-hover: #0056b3;
  --color-input: #e0e0e0;
  --color-fondo: #1c2b3a;
  --color-texto: #ffffff;
  --color-boton: #007bff;
  --color-boton-hover: #0056b3;
  --fuente-primaria: "Arial", sans-serif;
}

/* Reset y globales */
main {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color-texto);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  z-index: 1000;
}

body {
  font-family: var(--fuente-parrafos);
  font-size: 1.6rem;
  line-height: 2;
  background-color: var(--color-fondo);
  height: 100vh;
}
.flexallcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-image-top-right {
  position: absolute; /* Position it absolutely within the container */
  top: 0; /* Position it at the top */
  right: 0; /* Position it at the right */
  width: 25rem;
  margin-top: -3rem;
  z-index: 10;
}
.float-image-bottom-right {
  position: absolute; /* Position it absolutely within the container */
  bottom: 0;
  right: 0; /* Position it at the right */
  width: 35rem;
  margin-right: -2.5rem;
  margin-bottom: -4rem;
}

/* Contenedor de autenticación */
.auth-container {
  text-align: center;
  background-color: var(--color-fondo);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

/* Título */
.auth-title {
  color: var(--color-texto);
  font-size: 26px;
  margin-bottom: 10px;
}

/* Línea divisoria */
.auth-divider {
  width: 50px;
  height: 2px;
  background-color: var(--color-texto);
  border: none;
  margin: 0 auto 20px auto;
}

/* Formulario */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Campos de entrada */
.auth-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-input);
  font-size: 18px;
  text-align: center;
}

/* Botón */
.auth-button {
  background-color: var(--color-primario);
  color: var(--color-texto);
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.auth-button:hover {
  background-color: var(--color-primario-hover);
}

/* Enlace */
.auth-link {
  display: block;
  margin-top: 10px;
}

.auth-link a {
  color: var(--color-texto);
  text-decoration: none;
  font-size: 16px;
}

.auth-link a:hover {
  text-decoration: underline;
}

/* Responsive */

/* Tablets (entre 600px y 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
  .auth-container {
    max-width: 500px;
  }

  .auth-title {
    font-size: 30px;
  }

  .auth-input {
    padding: 18px;
    font-size: 20px;
  }

  .auth-button {
    font-size: 20px;
    padding: 14px;
  }
}

/* Celulares (máximo 599px) */
@media (max-width: 599px) {
  .auth-container {
    max-width: 90%;
  }

  .auth-title {
    font-size: 24px;
  }

  .auth-input {
    padding: 16px;
    font-size: 18px;
  }

  .auth-button {
    font-size: 18px;
    padding: 12px;
  }
}

/*-----------------------------------------------------------------------*/
/* Estilos generales */
.BodyRepContraseña {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0c0f16;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Estilos para el header */
.HeaderRepContraseña {
  width: 100%;
  background-color: #2c3e50;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.NavRepContraseña {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.NavRepContraseña a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Contenedor principal */
.ContainerRepContraseña {
  background: #0c0f16;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para el formulario */
.FormRepContraseña {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.h2RepContraseña {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.InputRepContraseña[type="text"],
.InputRepContraseña[type="password"] {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: #d1d1d1;
  text-align: center;
}

.BotonRepContraseña {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.BotonRepContraseña:hover {
  background-color: #0056b3;
}

/*MAIN*/

.hero {
  background-color: var(--color-secundario);
  color: var(--color-texto);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5%;
  padding-bottom: 2rem;
  gap: 2rem;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #0d1321; /* Color de fondo */
  overflow: hidden; /* Evita que la imagen sobresalga */
  padding: 0 6rem;
}

.hero__lechuga {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px; /* Ajusta según sea necesario */
  max-width: 35%; /* Para hacerlo responsive */
}

.hero__content {
  flex: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  font-family: var(--fuente-primaria);
  max-width: 100%;
  padding: 1.5rem;
}
.hero__content h1 {
  font-size: 8rem;
  margin: 0;
}
.hero__logo {
  flex: 35%;
  position: relative; /* This will be the reference for the absolute positioning */
  z-index: 1000;
}
.hero__logo img {
  max-width: 100%;
}

.hero__title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero__text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 20px;
  width: 50%;
  max-width: 50rem;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 20rem;
  width: 33%;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--color-boton);
  color: var(--color-texto);
  border-radius: 3rem;
}

.btn--primary:hover {
  background-color: var(--color-boton-hover);
}

.btn--secondary {
  color: var(--color-texto);
  text-decoration: underline;
}

/*-----------------------------------------------
----------------NUESTRO OBJETIVO-----------------
-----------------------------------------------*/
.nuestro-objetivo {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 80%;
  margin: 5rem auto;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  z-index: 10;
  min-height: fit-content;
}
.nuestro-objetivo-img {
  flex: 35%;
  height: 100%;
}
.nuestro-objetivo-img img {
  height: 100%;
  border-radius: 5rem;
}
.nuestro-objetivo-info {
  flex: 65%;
}
.nuestro-objetivo h3,
.nuestro-objetivo h2,
.nuestro-objetivo p {
  color: var(--color-texto);
}
.nuestro-objetivo h3 {
  font-size: 5rem;
  line-height: 5rem;
  width: 80%;
}
.nuestro-objetivo h2 {
  font-size: 2.5rem;
}
.nuestro-objetivo p {
  font-weight: bold;
  width: 80%;
}

/* Media Query para pantallas más pequeñas */

@media (max-width: 910px) {
  .nuestro-objetivo h3 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .nuestro-objetivo h2 {
    font-size: 2rem;
  }

  .nuestro-objetivo p {
    font-size: 1.6rem;
    width: 90%;
  }
}
@media (max-width: 810px) {
  .nuestro-objetivo {
    margin-top: 10rem;
    flex-direction: column;
    width: 90%;
    gap: 3rem;
    height: fit-content;
  }

  .nuestro-objetivo-img {
    /* width: 100%; */
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nuestro-objetivo-img img {
    width: 100%;
    height: 40rem;
  }

  .nuestro-objetivo-info {
    flex: 50%;
    width: 100%;
    text-align: center;
  }

  .nuestro-objetivo h3,
  .food-details h3 {
    font-size: 3rem;
    line-height: 4rem;
    width: 100%;
  }

  .nuestro-objetivo h2 {
    font-size: 2rem;
  }

  .nuestro-objetivo p {
    font-size: 1.6rem;
    width: 90%;
    margin: 0 auto;
  }
}

/* Media Query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .nuestro-objetivo h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .nuestro-objetivo h2 {
    font-size: 1.8rem;
  }

  .nuestro-objetivo p {
    font-size: 1.4rem;
  }
}

/*---------------------------------
-----------food info--------------
----------------------------------*/
.food-info {
  height: auto;
  margin-top: 5rem;
  background-color: var(--color-secundario);
  padding-top: 5rem;
  padding: 1rem;
}

.food-details h3 {
  font-size: 4.5rem;
  line-height: 4rem;
  width: 80%;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
.food-details p {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bolder;
}
.food-details {
  text-align: center;
  width: 60%;
  margin: 3rem auto;
  min-height: fit-content;
  height: 40rem;
  background-color: var(--color-fondo);
  border-radius: 2rem;
  padding: 3rem 1.5rem;
}
.food-search-bar input {
  width: 80%;
  height: 4.5rem;
  margin: 1.5rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--color-input);
}
/* Responsive */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero__buttons {
    justify-content: center;
    margin: 0 auto;
  }

  .hero__logo img {
    margin-top: 20px;
    width: 30%;
  }
  .hero__text {
    width: 100%;
    /* max-width: 50rem; */
  }
}

@media (max-width: 540px) {
  .hero h1 {
    font-size: 5rem;
  }
}
/*----------------------------
------------NAVBAR------------
------------------------------*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: var(--color-secundario);
  width: 100%;
  margin-top: 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
  width: 5%;
  margin: 1rem;
}

.navbar__logo img {
  max-width: min-content;
  width: 100%;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 20%;
  min-width: fit-content;
}

.navbar__links a {
  color: var(--color-texto);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar__links a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar__links {
    margin-top: 10px;
  }
  .navbar__logo {
    width: 10%;
  }
}

/*EDAD ---------------------------------------------*/
/* Estilos generales */
.BodyEdad {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0c0f16;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Estilos para el header */
.HeaderEdad {
  width: 100%;
  background-color: #2c3e50;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.NavEdad {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.NavEdad a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Contenedor principal */
.ContainerEdad {
  background: #0c0f16;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para el formulario */
.FormEdad {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.h2Edad {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.seleccionEdad[type="text"] {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: #d1d1d1;
  text-align: center;
}

.SigEdad {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.SigEdad:hover {
  background-color: #0056b3;
}

/*PESO------------------------------*/

/* Estilos generales */
.BodyPeso {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0c0f16;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Estilos para el header */
.HeaderPeso {
  width: 100%;
  background-color: #2c3e50;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.NavPeso {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.NavPeso a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Contenedor principal */
.ContainerPeso {
  background: #0c0f16;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para el formulario */
.FormPeso {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.h2Peso {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.seleccionPeso[type="text"] {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: #d1d1d1;
  text-align: center;
}

.SigPeso {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.SigPeso:hover {
  background-color: #0056b3;
}

/*-------------------------------------- OBJETIVOS ---------------------------------*/

/* Estilos generales */
.BodyObjetivos {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0c0f16;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Estilos para el header */
.HeaderObjetivos {
  width: 100%;
  background-color: #2c3e50;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

.NavObjetivos {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.VolverObjetivos img {
  width: 30px;
  height: 30px;
}

/* Contenedor principal */
.ContainerObjetivos {
  background: #0c0f16;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos del título */
.h2Objetivos {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Estilos de los botones */
.BotonObjetivos {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 18px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.BotonObjetivos:hover {
  background-color: #0056b3;
}
